@import "header.css";
/*@import "footer.css";*/
.App {

}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
h1 {
    margin-bottom: 0.5em;
    font-size: 3.6rem;
}
p {
    margin-bottom: 0.5em;
    font-size: 1.6rem;
    line-height: 1.6;
}
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
}

.content {
    padding: 120px 0;
}